.btn {
  cursor: pointer;
}

.submit-button {
  width: 50%;
  background-color: var(--purple_dark2);
  color: white;
  font-size: 17px;
  padding: 5px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.submit-button:hover {
  background-color: var(--purple_dark);
}
