:root {
  --success: #28a745;
  --success_light: #07ff41de;

  --info: #17a2b8;
  --warning: #ffc107;
  --danger: #dc3545;
  --secondary: orange;
  --tertiary: orangered;

  --danger_light: #ec606e;

  --black: rgba(10, 10, 10, 0.966);
  --black_light: rgba(46, 46, 46, 0.932);

  --gray_light: rgb(224, 222, 222);
  --gray_light2: rgb(230, 227, 227);
  --gray: rgba(255, 254, 254, 0.568);
  --gray_dark: #757575;

  --purple_light: rgba(111, 138, 213, 0.7);
  --purple_light2: #8468b9d4;
  --purple: rgba(83, 61, 161, 0.7);
  --purple_dark: rgba(70, 40, 180, 0.7);
  --purple_dark2: rgba(68, 27, 218, 0.7);
}

.bg-danger {
  background-color: var(--danger);
}
.bg-success {
  background-color: var(--success);
}
