.my-1 {
  margin: 6px 0px;
}
.m-0 {
  margin: 0px;
}

.text-center {
  text-align: center;
}

.text-danger {
  color: var(--danger);
}

.text-success {
  color: var(--success);
}
body {
  font-family: "Lato", Sans-serif;
  font-size: 16px;
  line-height: 1.4;
}

.icon-size {
  font-size: 1.5rem;
}

.heading-main {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: #fff;
  display: block;
  font-size: 3.3rem;
  font-weight: 800;
  letter-spacing: 15px;
  padding: 10px;
}

.heading-primary {
  color: #fff;
  backface-visibility: hidden;
  margin-bottom: 30px;
}
.heading-primary--main {
  color: #fff;
  display: block;
  font-size: 4rem;
  font-weight: 800;
  letter-spacing: 15px;
}

.heading-tertiary {
  font-size: 1rem;
  font-weight: 700;
  text-transform: uppercase;
}

.paragraph {
  font-size: 1rem;
  text-align: justify;
}
.paragraph:not(:last-child) {
  margin-bottom: 35px;
}
