.my-1 {
  margin: 6px 0px;
}
.m-0 {
  margin: 0px;
}

.text-center {
  text-align: center;
}

body {
  font-family: "Lato", Sans-serif;
  font-size: 16px;
  line-height: 1.4;
}

.icon-size {
  font-size: 1.5rem;
}

.heading-primary {
  color: #fff;
  backface-visibility: hidden;
  margin-bottom: 30px;
}
.heading-primary--main {
  color: #fff;
  display: block;
  font-size: 4rem;
  font-weight: 800;
  letter-spacing: 15px;
}
.heading-primary--sub {
  display: block;
  font-size: 25px;
  font-weight: 700;
  letter-spacing: 13px;
}

.heading-secondary {
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  background-image: linear-gradient(to right, #7ed56f, #28b485);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  letter-spacing: 3px;
  transition: all 0.2s;
}
.heading-secondary:hover {
  transform: skewY(2deg) skewX(13deg) scale(1.1);
  text-shadow: 1rem 1rem 2rem rgba(14, 13, 13, 0.7);
}

.heading-tertiary {
  font-size: 1rem;
  font-weight: 700;
  text-transform: uppercase;
}

.paragraph {
  font-size: 1rem;
  text-align: justify;
}
.paragraph:not(:last-child) {
  margin-bottom: 35px;
}
