<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="../css/main.css" />
    <meta charset="UTF-8" />
    <link
      href="https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900"
      rel="stylesheet"
    />

    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@ionic/core/css/ionic.bundle.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"
      integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>

  <body>
    <main>
      <div class="container">
        <div class="sidebar">
          <div class="sidebar-small">
            <div class="sidebar_logo">
              <img src="../images/cloudy.png" alt="" class="sidebar_logo-img" />
            </div>
          </div>
          <div class="sidebar-extended">
            <span class="main_logo"><h3>Todos</h3></span>
            <div class="card card-light-black my-1">
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Eveniet, a.
              </p>
            </div>
            <div class="accordion">
              <div class="accordion_title">
                Category <i class="fa-solid fa-caret-down"></i>
              </div>

              <ul class="accordion_items">
                <li class="accordion_item">Work</li>
                <li class="accordion_item">Study</li>
                <li class="accordion_item">Fun</li>
              </ul>
            </div>
            <div class="accordion">
              <div class="accordion_title">
                Todo-Status <i class="fa-solid fa-caret-down"></i>
              </div>

              <ul class="accordion_items">
                <li class="accordion_item">Completed</li>
                <li class="accordion_item">Active</li>
              </ul>
            </div>
          </div>
        </div>

        <div class="content scrollbar" id="style-7">
          <div class="content-background">
            <h1 class="m-0 heading-primary--main text-center">Todo-List</h1>
            <div class="todo_search">
              <input
                type="search"
                placeholder="Search Your Todo"
                name=""
                id=""
              />
            </div>
            <div class="todo_items_list">
              <div class="todo_item card">
                <span>
                  <input type="checkbox" class="checker" name="" id="" />
                </span>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                  Blanditiis rem repudiandae a quibusdam iusto tenetur cumque?
                  Labore reprehenderit, vero quis eligendi minus quos magnam
                  enim Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                  Blanditiis rem repudiandae a quibusdam iusto tenetur cumque?
                  Labore reprehenderit, vero quis eligendi minus quos magnam
                  enim
                </p>
                <a href="">
                  <ion-icon class="icon-size" name="create-outline"></ion-icon>
                </a>
                <a href="">
                  <ion-icon class="icon-size" name="close-outline"></ion-icon>
                </a>
              </div>
              <div class="todo_item card">
                <span>
                  <input type="checkbox" class="checker" name="" id="" />
                </span>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                  Blanditiis rem repudiandae a quibusdam iusto tenetur cumque?
                  Labore reprehenderit, vero quis eligendi minus quos magnam
                  enim Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                  Blanditiis rem repudiandae a quibusdam iusto tenetur cumque?
                  Labore reprehenderit, vero quis eligendi minus quos magnam
                  enim
                </p>
                <a href="">
                  <ion-icon class="icon-size" name="create-outline"></ion-icon>
                </a>
                <a href="">
                  <ion-icon class="icon-size" name="close-outline"></ion-icon>
                </a>
              </div>
            </div>
          </div>
          <span class="content-add">
            <button class="btn add-plus">
              <ion-icon size="large" color="white" name="add"></ion-icon>
            </button>
          </span>
        </div>
      </div>
    </main>
    <script
      type="module"
      src="https://cdn.jsdelivr.net/npm/@ionic/core/dist/ionic/ionic.esm.js"
    ></script>
    <script
      nomodule
      src="https://cdn.jsdelivr.net/npm/@ionic/core/dist/ionic/ionic.js"
    ></script>
  </body>
</html>
